# Repetition

#### capturing reaction time
* use the random and time modules 
* string formatting
* what would make the program better?

### for or counting loop
* useful in situations where you want some thing to repeat
* repetition is for a known number of times
* requires an **iterable** object
* makes use of a reference or index variable
* uses indentation to indicate code that shoud be repeated

In [63]:
for i in range(1,6):
    print(f"{i}\t{i ** 2}")

1	1
2	4
3	9
4	16
5	25

In [64]:
i

5

In [65]:
for number in range(0,50, 5):
    print(number)

0
5
10
15
20
25
30
35
40
45

In [69]:
for number in range(10,-2, -1):
    print(number)

10
9
8
7
6
5
4
3
2
1
0
-1

### range object

In [80]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
fruits = ["apple", "kiwi", "banana"]

In [79]:
for fruit in fruits:
    print(f"{fruit} is a fruit")

apple is a fruit
kiwi is a fruit
banana is a fruit

In [81]:
len(fruits)

3

In [82]:
len("hello")

5

In [83]:
for letter in "hello":
    print(letter)

h
e
l
l
o

### More Standard Library Modules

### math

In [99]:
import math
from random import normalvariate as norm

In [115]:
r = .00125
sigma = .30
T = 1/252
aapl = 300

In [114]:
price = aapl * math.exp((r- .5 * sigma ** 2)*T + sigma* math.sqrt(T)* norm(0,1))
print(f"{price:.2f}")

419.57

### [datetime](https://www.w3schools.com/python/python_datetime.asp)

In [43]:
import datetime as dt

In [42]:
# PS 4

In [48]:
deposit = 1000
r = .015

In [60]:
print("{:<10s}{:>10s}".format("Year", "Balance"))
print("_" * 20)
for year in range(1, 6):
    print(f"{year:<10d}{deposit * (1 + r) ** year:>10.2f}")

Year         Balance
____________________
1            1015.00
2            1030.22
3            1045.68
4            1061.36
5            1077.28

In [ ]:
deposit *= (1+r)